<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous"/>
        <link rel="stylesheet" type="text/css" th:href="@{/css/home.css}" />
        <title>Login Page</title>
    </head>
    <body class="bgcolor">
        <!-- header -->
        <th:block th:replace="~{fragments/header :: header}"></th:block>
        <div class="container" sec:authorize="isAuthenticated()">
            <div class="row justify-content-md-center mt-5">
                <h1>잘못된 접근입니다.</h1>
            </div>
        </div>
        <div class="container" sec:authorize="isAnonymous()">
            <div class="row justify-content-md-center mt-5">
                <form style="width: 500px;" th:action="@{/api/login}" method="post">
                    <h1 class="h3 mb-3 fw-normal">Please sign in</h1>
        
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control " id="username" name="username" placeholder="ID">
                        <label for="username">ID</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="password" class="form-control" id="Password" name="password" placeholder="Password">
                        <label for="Password">Password</label>
                    </div>
                    <div th:if="${param.error}">
                        <p th:text="${exception}" class="alert alert-danger"></p>
                    </div>
                    <button class="w-100 btn btn-lg btn-dark" type="submit">Sign in</button>
                </form>
            </div>
        </div>
        


        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js" integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous"></script>
    </body>
</html>

<!-- 
<form th:action="@{/api/login}" method="post">
    <input th:type="hidden" th:value="secret" name="secret_key">
    <div class="form-group">
        <label th:for="username">ID</label>
        <input type="text" name="username" class="form-control" placeholder="이메일 입력해주세요">
    </div>
    <div class="form-group">
        <label th:for="password">비밀번호</label>
        <input type="password" class="form-control" name="password" placeholder="비밀번호">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form> -->