<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@300;400&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT"
      crossorigin="anonymous"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@300;400&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" type="text/css" th:href="@{/css/resume.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/home.css}" />
    <title>이력</title>
  </head>
  <body class="bgcolor">
    <!-- header -->
    <th:block th:replace="~{fragments/header :: header}"></th:block>
    <!-- main -->
    <div class="p-5 mb-5" style="float: right">
      <a th:href="@{resume}" class="border-dark border-end">이력서</a>
      <a th:href="@{project}" class="border-dark border-end">포트폴리오</a>
      <a th:href="@{contact}" class="border-dark">연락 문의</a>
    </div>
    <main class="mt-5 p-3">
      <div class="home-container">
        <div class="mb-5 blank">
          <span>
            <div class="pname">Byeongju Park</div>
          </span>
        </div>
        <h1 class="mb-5">이력</h1>

        <!-- 포트폴리오 -->
        <div style="display: inline-block; vertical-align: middle">
          <h2>사회 경험</h2>
        </div>
        <div style="display: inline-block; margin-left: 500px">
          <div class="strong">2017 - 2020 Editor</div>
          <p>
            I'm a paragraph. Click here to add your own text and edit me. It’s
            easy. Just click “Edit Text” or double click me to add your own
            content and make changes to the font.
          </p>
        </div>
        <hr />
        <div style="display: inline-block; vertical-align: middle">
          <h2>학력 사항</h2>
        </div>
        <div
          style="display: inline-block; vertical-align: top; margin-left: 500px"
        >
          <div class="strong">
            2017 - 2020
            <span style="font-weight: 700" class="strong">Editor </span>
          </div>
          <p>
            I'm a paragraph. Click here to add your own text and edit me. It’s
            easy. Just click “Edit Text” or double click me to add your own
            content and make changes to the font.
          </p>
        </div>
        <hr />
        <div style="display: inline-block; vertical-align: middle">
          <h2>습득 기술 & 지식</h2>
        </div>
        <div
          style="
            display: inline-block;
            vertical-align: middle;
            margin-left: 500px;
          "
        >
          <div class="strong">
            2017 - 2020
            <span style="font-weight: 700" class="strong">Editor </span>
          </div>
          <p>
            I'm a paragraph. Click here to add your own text and edit me. It’s
            easy. Just click “Edit Text” or double click me to add your own
            content and make changes to the font.
          </p>
        </div>
      </div>
    </main>
    <footer>
      <div class=""></div>
    </footer>

    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
      integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
      crossorigin="anonymous"
    ></script>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
      integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
