<header class="shadow-sm p-3 d-flex flex-wrap justify-content-center py-3 nav">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
        <h2>프로젝트 이름</h2>
    </a>
<!--USER 권한을 갖는다면 이 글이 보임 /근데 왜 안보여?-->
<h1 sec:authorize="hasRole('USER')">Has user Role</h1> 

    <!-- 비인증자에게만 노출 -->
    <!-- sec:authorize="isAnonymous()" -->
    <!-- 인증자에게 노출 -->
    <!-- sec:authorize = "isAuthenticated()" -->
    <ul class="nav nav-pills" sec:authorize="isAuthenticated()">
        <li class="nav-item pt-2">
            <b><span sec:authentication="name"></span></b> 님 반갑습니다. 
        </li>
        <li class="nav-item">
            <button type="button" onclick="location.href='/logout'" class="nav-link btn btn-success rounded-pill">로그아웃</button>
        </li>
    </ul>
    <ul class="nav nav-pills" sec:authorize="isAnonymous()">
        <li
            class="nav-item">
            <!-- <button type="button" class="nav-link btn btn-primary rounded-pill" data-bs-toggle="modal" data-bs-target="#loginModal">
                                            로그인
                                          </button> -->
            <a href="/login" class="nav-link btn btn-primary rounded-pill">로그인</a>

        </li>
        <li class="nav-item">
            <a href="/register" class="nav-link btn btn-success rounded-pill">회원가입</a>
        </li>
    </ul>
</header>