<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="../css/survey_form.css" />
    <title>Resume</title>
  </head>
  <body class="bgcolor">
    <header
      class="shadow-sm p-3 d-flex flex-wrap justify-content-center py-3 nav"
    >
      <a
        href="/"
        class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none"
      >
        <h2>프로젝트 이름</h2>
      </a>

      <ul class="nav nav-pills">
        <li class="nav-item">
          <a href="#" class="nav-link active rounded-pill">로그인</a>
        </li>
        <!-- <li class="nav-item"><a href="#" class="nav-link">로그인</a></li> -->
      </ul>
    </header>
    <main class="p-3 main">
      <div class="container">
        <div class="pname">Byeongju Park</div>
        <br />
        <div class="blank"></div>
        <!-- 개인사진(병주) -->
        <div class="container">
          <div class="row">
            <div class="col-4">
              <img
                class="img"
                src="../img/0FC9AB54-92A7-417F-8A9C-5E96CA9ACD45.png"
                alt=""
                width="300"
                height="300"
              />
            </div>
            <div class="col-8 phrase">
              <h1>안녕하세요!</h1>
              <h3 class="mb-3">A Bit About Me</h3>
              <div class="mb-3">내 소개</div>
              <div class="row">
                <button class="resume">이력서</button>
                <div class="col">
                  <button class="project">포트폴리오</button>
                </div>
              </div>
              <!-- <div class="circle">이력서</div>  -->
            </div>
          </div>
        </div>
        <div class="pname">Seonah Yun</div>
        <div class="container">
          <div class="row">
            <div class="col-4">
              <img
                class="img"
                src="../img/22021046.jpg"
                alt=""
                width="300"
                height="300"
              />
            </div>
            <div class="col-8 phrase">
              <h1>안녕하세요!</h1>
              <h3 class="mb-3">내 이름은</h3>
              <div class="mb-3">내 소개</div>
              <div class="row">
                <button class="resume">이력서</button>
                <div class="col">
                  <button class="project">포트폴리오</button>
                </div>
              </div>
              <!-- <div class="circle">이력서</div>  -->
            </div>
          </div>
        </div>

        <footer></footer>
      </div>
    </main>
  </body>
</html>
