<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="../css/home.css" />
    <title>Resume</title>
  </head>
  <body class="bgcolor">
    <!-- Navbar -->
    <header
      class="shadow-sm p-3 d-flex flex-wrap justify-content-center py-3 nav"
    >
      <a
        href="/"
        class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none"
      >
        <h2>프로젝트 이름</h2>
      </a>

      <ul class="nav nav-pills">
        <li class="nav-item">
          <a href="#" class="nav-link active rounded-pill">로그인</a>
        </li>
        <li class="nav-item"><a href="#" class="nav-link">회원가입</a></li>
      </ul>
    </header>

    <!-- main -->
    <div class="p-3 mb-5" style="float: right">
      이력서 | 포트폴리오 | 연락 문의 (임시)
    </div>
    <main class="mt-5 p-3">
      <div class="home-container">
        <div>
          <span>
            <div class="pname">Byeongju Park</div>
          </span>
        </div>
        <div class="blank"></div>
        <!-- 개인사진(병주) -->
        <div style="display: inline-block">
          <img
            class="img"
            src="../img/22021046.jpg"
            alt=""
            width="300"
            height="300"
          />
          <div
            style="
              display: inline-block;
              vertical-align: middle;
              margin-left: 30px;
            "
          >
            <h1 class="hello">Hello!</h1>
            <h3 class="mb-3">A Bit About Me</h3>
            <div class="mb-3">내 소개</div>

            <div class="col">
              <button class="resume">이력서</button>
              <button class="project">포트폴리오</button>
              <button class="contact">연락 문의</button>
            </div>
            <!-- <div class="circle">이력서</div>  -->
          </div>
        </div>
        <!-- 선아 -->
        <div class="mb"></div>
        <div class="pname">Seonah Yun</div>
        <div class="blank"></div>
        <div style="display: inline-block">
          <img
            class="img"
            src="../img/22021046.jpg"
            alt=""
            width="300"
            height="300"
          />
          <div
            style="
              display: inline-block;
              vertical-align: middle;
              margin-left: 30px;
            "
          >
            <div class="hello">Hello!</div>
            <h3 class="mb-3">A Bit About Me</h3>
            <div class="mb-3">내 소개</div>
            <div class="col">
              <button class="resume">이력서</button>
              <button class="project">포트폴리오</button>
              <button class="contact">연락 문의</button>
            </div>
          </div>
        </div>
      </div>
    </main>
    <footer>
      <div class=""></div>
    </footer>
  </body>
</html>
